$default-planet-color: rgb(0, 0, 255);
$default-satellite-color: rgb(201, 201, 201);
$dialog-background-color: rgb(210, 210, 210);
$close-color: darkred;

$background-color: rgb(60, 70, 80);
$tilt-x: 75deg;
$tilt-y: -30deg;
$planet-step: 3rem;
$satellite-step: 3rem;
$orbit-base: 7rem;
$orbit-step: 7rem;
$speed-base: 2.5s;
$speed-step: 3s;
$max-orbits: 10;
$object-sizes: 3;
