@import '../../styles/common-variables.scss';

.planet {
  width: $default-planet-size;
  height: $default-planet-size;
  line-height: $default-planet-size;
  top: calc(50vh - (#{$default-planet-size / 2})); // todo: 50% instead?
  left: calc(50vw - (#{$default-planet-size / 2})); // todo: 50% instead?

  text-align: center;
  color: white;
  background-color: rgba($default-planet-color, 0.7);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba($default-planet-color, 0.7);

  -webkit-transform: rotateY($tilt-y * -1) rotateX($tilt-x * -1);
  transform: rotateY($tilt-y * -1) rotateX($tilt-x * -1);
}
