@import '../../styles/common-variables.scss';

.planet {
  text-align: center;
  color: white;
  background-color: rgba($default-planet-color, 0.7);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba($default-planet-color, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-transform: rotateY($tilt-y * -1) rotateX($tilt-x * -1);
  transform: rotateY($tilt-y * -1) rotateX($tilt-x * -1);

  @for $planet-size from 1 through $object-sizes {
    &.planet-#{$planet-size} {
      $calculated-size: $planet-size * $planet-step;
      width: $calculated-size;
      height: $calculated-size;
      line-height: $calculated-size;
      top: calc(50vh - (#{$calculated-size / 2}));
      left: calc(50vw - (#{$calculated-size / 2}));
    }
  }
}
